[MULTICRAB]


#cfg=step0_crab.cfg
#[300_270]
#cmssw.total_number_of_events = 1500000
#cmssw.number_of_jobs = 200


cfg=step1_crab.cfg
[step1]
cmssw.total_number_of_events = 396717
cmssw.number_of_jobs = 2000



